<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/log/internal-nlog.log">
  <variable name="logDirectory" value="${basedir}/log/"/>

  <!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->

  <targets async="true">
    <!-- 忽略 -->
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="File" name="trace" fileName="${logDirectory}/trace-${shortdate}.log"
            layout="${longdate}|${level}|${logger}|${message} ${exception:format=tostring:exceptionDataSeparator=\r\n}" />
    <target xsi:type="File" name="app" fileName="${logDirectory}/app-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
   </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"/>
    <!-- app logs-->
    <logger name="Common.*" minlevel="Debug" writeTo="app" final="true"/>
    <logger name="Demo.*" minlevel="Debug" writeTo="app" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="trace" />
  </rules>
</nlog>